.result
  %p.timeframe Week starting #{@result.to_param}

  .previous-link
    - if @result.previous.present?
      = link_to [:admin, @result.previous] do
        = icon 'arrow-left'
    - else
      %span.muted= icon 'arrow-left'

  .next-link
    - if @result.next.present?
      = link_to [:admin, @result.next] do
        = icon 'arrow-right'
    - else
      %span.muted= icon 'arrow-right'

  %h2 Comments

  - @metric_results.each do |metric_result|
    - if metric_result.comments.any?
      .prose
        %h3= metric_result.meta[:name]
        - metric_result.private_comments.each do |comment|
          %p
            %strong #{comment.body} (anon)
        - metric_result.public_comments.each do |comment|
          %p #{comment.body} (#{comment.user.name})

  %h2 #{@result.sample.complete.count} Complete

  %ul
    - @result.sample.complete.each do |submission|
      %li #{submission.user.email} / #{link_to submission.id, submission}

  %h2 #{@result.sample.incomplete.count} Incomplete

  %ul
    - @result.sample.incomplete.eager_load(:submission_reminders).each do |submission|
      %li #{submission.user.email} / #{link_to submission.id, submission} / #{pluralize submission.submission_reminders.count, 'reminder'}
