%h1 Week starting #{@result.to_param}

%h2 #{@result.sample.complete.count} Complete

%ul
  - @result.sample.complete.each do |submission|
    %li #{submission.user.email} / #{link_to submission.id, submission}

%h2 #{@result.sample.incomplete.count} Incomplete

%ul
  - @result.sample.incomplete.eager_load(:submission_reminders).each do |submission|
    %li #{submission.user.email} / #{link_to submission.id, submission} / #{pluralize submission.submission_reminders.count, 'reminder'}
