%header
  %h1 Me

  %nav
    %ul
      %li= link_to 'Profile', :user
      %li= link_to 'History', [:history, :user]

= form_for @user do |f|
  .form-group
    = f.label :name
    %p.form-control-static= f.object.name

  .form-group
    = f.label :email
    %p.form-control-static= f.object.email

  .form-group
    = f.label :manager
    %p.form-control-static
      - if f.object.manager.present?
        = f.object.manager.name
        (#{f.object.manager.email})
      - else
        n/a

  .form-group
    = f.label :tags do
      Tags
      %small (What team are you on? What projects are taking up your time?)
    = f.text_field :tags_as_string, class: 'form-control'

  = f.fields_for :reports do |fr|
    %fieldset
      %legend= fr.object.name

      .form-group
        = fr.label :active do
          = fr.check_box :active
          Active?
          %small (Should they be sent the Heartbeat surveys?)

      .form-group
        = fr.label :tags_as_string do
          Tags
          %small (Usually the organization, the team, maybe a project - e.g. #rnd #venture #fca)
        = fr.text_field :tags_as_string, class: 'form-control'

  .submit= f.submit 'Save', class: 'btn btn-primary'