%header
  %h1 Me

  %nav
    %ul
      %li= link_to 'Profile', :user
      %li= link_to 'History', [:history, :user]

= form_for @user do |f|
  .input
    = f.label :name
    .text= f.object.name

  .input
    = f.label :email
    .text= f.object.email

  .input
    = f.label :manager
    .text
      - if f.object.manager.present?
        = f.object.manager.name
        (#{f.object.manager.email})
      - else
        n/a

  .input
    = f.label :tags do
      Tags
      %small (What team are you on? What projects are taking up your time?)
    = f.text_field :tags_as_string

  - if f.object.manager?
    %fieldset
      %legend My team
      = f.fields_for :reports do |fr|
        .input
          = fr.label :tags, "Tags for #{fr.object.name}"
          = fr.text_field :tags_as_string

  .submit= f.submit 'Save'