.result
  %p.timeframe Week of #{@result.start_date.format_like 'August 4, 2014'}

  .previous-link
    - if @result.previous.present?
      = link_to @result.previous do
        = icon 'arrow-left'
    - else
      %span.muted= icon 'arrow-left'

  .next-link
    - if @result.next.present?
      = link_to @result.next do
        = icon 'arrow-right'
    - else
      %span.muted= icon 'arrow-right'

  - if @result.empty?
    %section.summary
      %p No data.
  - else
    %section.summary
      - @metric_results.each do |metric_result|
        %a.result-metric{href: "##{metric_result.meta[:slug]}"}
          %span.name= metric_result.meta[:name]
          %span.rating= metric_result.rating
          %span.delta.neutral{title: 'Change from last week'}
            - if metric_result.delta >= 0
              = icon 'arrow-up'
            - else
              = icon 'arrow-down'
            = metric_result.delta
          %span.representation{title: 'Response rate'}
            = icon 'user'
            = number_to_percentage metric_result.representation*100, precision: 0

      %ul.stats
        %li
          .label Overall response rate:
          .value= number_to_percentage @result.representation*100, precision: 0
          .context (#{@result.sample.complete.count} of #{@result.sample.count})
        %li
          .label Best response time:
          .value= @result.shortest_time_to_completion
          .context

    %section.result-comments
      %h1 General Comments
      - if @result.public_comments.any?
        %ul.comments
          - @result.public_comments.each do |comment|
            %li
              .content= simple_format comment.body
              .author
                %span= comment.user.name
      - else
        %p.comments.none
          (no comments)

    - @metric_results.each do |metric_result|
      %section.result-metric{id: metric_result.meta[:slug]}
        %h1= metric_result.meta[:name]
        %p.description= metric_result.meta[:description]
        %p.count
          #{pluralize metric_result.count, 'rating'} (#{number_to_percentage metric_result.representation*100, precision: 0})

        .chart= column_chart metric_result.rating_counts, height: '200px', library: {titlePosition: 'none', chartArea: {top: '10', width: '80%', height: '75%'}, hAxis: {title: 'Rating'}, vAxis: {title: 'Number of Ratings'}}

        - if metric_result.public_comments.any?
          %ul.comments
            - metric_result.public_comments.each do |comment|
              %li
                .content= simple_format comment.body
                .author
                  %span= comment.user.name
        - else
          %p.comments.none
            (no comments)
