= form_for [:admin, @new_template] do |f|
  %fieldset
    %legend New reminder template

    .form-group
      = f.label :submissions_start_date
      = f.text_field :submissions_start_date, class: 'form-control'
    .form-group
      = f.label :submissions_end_date
      = f.text_field :submissions_end_date, class: 'form-control'
    .form-group
      = f.label :reify_at
      = f.text_field :reify_at, class: 'form-control'
    .form-group
      = f.label :medium
      = f.text_field :medium, class: 'form-control'
    .form-group
      = f.label :from
      = f.text_field :from, class: 'form-control'
    .form-group
      = f.label :subject
      = f.text_field :subject, class: 'form-control'
    .form-group
      = f.label :template
      = f.text_area :template, rows: [3, f.object.template.split("\n").size].max, class: 'form-control'

    .submit.form-group= f.submit 'Save', class: 'btn btn-primary'
