%header
  %h1 Submission Reminder Templates

= render partial: 'form'

%table.table
  - @templates.each do |template|
    %tr{class: ('strikethrough' if template.reified?)}
      %td #{template.reify_at} via #{template.medium}
      %td= template.meta
      %td
        %pre.wrap= template.template
