%div{class: "metric #{'optional' unless mf.object.required?} #{'completed' if mf.object.completed?}"}
  .metric-name
    = mf.object.name
  .metric-description= mf.object.description
  %div{class: "rating #{'rated' if mf.object.rating.present?}"}
    .rating-bookend.negative
      = icon 'thumbs-o-down fa-flip-horizontal'
    - SubmissionMetric::VALID_RATINGS.each do |i|
      .rating-option
        = mf.radio_button :rating, i
        = mf.label :rating, i, value: i, title: "Rate '#{mf.object.name}' a #{i}"
        - if mf.object.previous.rating == i
          .previous-rating-marker
            = icon 'asterisk'
            %span This was your rating last week.
    .rating-bookend.positive
      = icon 'thumbs-o-up'
  .comments
    - if mf.object.comments.blank?
      .comments-toggle
        %a More to say?
    .comments-input
      = mf.text_area :comments, placeholder: 'More to say about this one? (limit 140 chars)', maxlength: 140, data: {'negative-placeholder' => 'You rated this particularly low. What went wrong? How can we handle this?', 'negative-positive' => 'You rated this particularly high. What went well?'}