.submission
  - if current_submission.completed?
    .submission-thanks
      %p
        %strong Thanks for your submission - appreciate it.
        %br

      %p Results will be out on Monday.

      %p.muted (I'm still working on the aggregates, and the presentation thereof - if data analysis/visualization/presentation is something you love, hit up #{mail_to 'ibowen@enova.com'} and let's chat.)

    %p.submission-toggle
      %a Forget something?

  = form_for current_submission, html: {class: ['submission-form', ('complete' if current_submission.completed?)].join(' ')} do |f|
    %p.submission-prompt
      Think about the past week. For each of these measures, what was your experience?

    .metrics.required
      = f.fields_for :submission_metrics, f.object.submission_metrics.required.ordered do |mf|
        = render partial: 'submission_metric_form', locals: {mf: mf}

    %h2 More?
    %p
      %em Rate these if they were an important part of the last week.

    .metrics.optional
      = f.fields_for :submission_metrics, f.object.submission_metrics.optional.ordered do |mf|
        = render partial: 'submission_metric_form', locals: {mf: mf}

    .submission-comments
      %label
        Anything else to add?
        %em Could be about this week, could be about Heartbeat itself.
        = f.text_area :comments, maxlength: 140, placeholder: '(limit 140 chars)'

    - unless current_submission.user.name.present?
      = f.fields_for :user do |uf|
        .user-name
          %label
            What's your name?
            %em You'll only get asked this once.
          = uf.text_field :name

    - unless current_submission.user.manager_email.present?
      = f.fields_for :user do |uf|
        .user-manager
          %label
            What's your manager's email address?
            %em You'll only get asked this once. Your ratings won't get sent to your manager; this will only be used to draw connections when analyzing data.
          = uf.text_field :manager_email, placeholder: 'foo@bar.com', type: :email

    .submission-submit= f.submit(f.object.completed? ? 'Update' : 'Submit')

    .submission-disclaimer
      %p On Monday, the aggregated/anonymized ratings will be publicly posted. Written notes will be included with your name attached.
      %p This data belongs to you, and the more accurate your signal, the better the results for everyone.
      %p (We'll be tuning how this works over time - feedback on all of this is very welcome.)
