.submission
  - if current_submission.completed?
    %p
      %strong Thanks for your submission - appreciate it.
    %p Results will be out on Monday.

    %p.submission-toggle
      %a Forget something?

  = form_for current_submission, html: {class: ['submission-form', ('complete' if current_submission.completed?)].join(' ')} do |f|
    %p.submission-prompt
      #{f.object.submission_metrics.count.to_words.capitalize} metrics. How are we doing?

    .metrics.required
      = f.fields_for :submission_metrics, f.object.submission_metrics.required.ordered do |mf|
        = render partial: 'submission_metric_form', locals: {mf: mf}

    %h2 More?
    %p
      %em Rate these if they were an important part of the last week.

    .metrics.optional
      = f.fields_for :submission_metrics, f.object.submission_metrics.optional.ordered do |mf|
        = render partial: 'submission_metric_form', locals: {mf: mf}

    .submission-comments
      %label
        Soapbox time. Any additional comments?
        = f.text_area :comments

    - unless current_submission.user.name.present?
      = f.fields_for :user do |uf|
        .user-name
          %label
            What's your name?
            %em You'll only get asked this once.
          = uf.text_field :name

    - unless current_submission.user.manager_email.present?
      = f.fields_for :user do |uf|
        .user-manager
          %label
            What's your manager's email address?
            %em You'll only get asked this once.
          = uf.text_field :manager_email, placeholder: 'foo@bar.com', type: :email

    .submission-submit= f.submit(f.object.completed? ? 'Update' : 'Submit')

    .submission-disclaimer
      %p On Monday, the aggregate and anonymized results (including any written notes) will be publicly posted.

      %p This data belongs to you, and the more accurate your signal, the better the results for everyone.
