.submission
  - if current_submission.complete?
    %p
      %strong Thanks for your submission - appreciate it.
    %p Results will be out on Monday.

    %p.submission-toggle
      %a Forget something?

  = form_for current_submission, html: {class: ['submission-form', ('complete' if current_submission.complete?)].join(' ')} do |f|
    %p.submission-prompt
      #{f.object.submission_metrics.count.to_words.capitalize} metrics. How are we doing?

    = f.fields_for :submission_metrics, f.object.submission_metrics.join(:metrics).order('metrics.order') do |mf|
      .metric
        .metric-name
          = mf.object.name
        .metric-description= mf.object.description
        %div{class: "rating #{'rated' if mf.object.rating.present?}"}
          .rating-bookend.negative
            = icon 'thumbs-o-down fa-flip-horizontal'
          - SubmissionMetric::VALID_RATINGS.each do |i|
            .rating-option
              = mf.radio_button :rating, i
              = mf.label :rating, i, value: i, title: "Rate '#{mf.object.name}' a #{i}"
          .rating-bookend.positive
            = icon 'thumbs-o-up'
        .comments
          - if mf.object.comments.blank?
            .comments-toggle
              %a More to say?
          .comments-input
            = mf.text_area :comments, placeholder: 'More to say about this one?'

    .submission-comments
      %label
        Soapbox time. Any additional comments?
        = f.text_area :comments

    - unless current_submission.user.name.present?
      = f.fields_for :user do |uf|
        .user-name
          %label
            What's your name?
            %em You'll only get asked this once.
          = uf.text_field :name

    - unless current_submission.user.manager_email.present?
      = f.fields_for :user do |uf|
        .user-manager
          %label
            What's your manager's email address?
            %em You'll only get asked this once.
          = uf.text_field :manager_email, placeholder: 'foo@bar.com', type: :email

    .submission-submit= f.submit 'Submit'

    .submission-disclaimer
      %p On Monday, the aggregate and anonymized results will be publicly posted. This data belongs to you, and the more accurate your signal, the better the results for everyone.

      %p Any written notes you add will go to People Resources, and they’ll take it from there.
