= form_for [:admin, @user] do |f|
  %h2
    - if f.object.persisted?
      Editing #{f.object.name} (#{f.object.slug})
    - else
      New user

  .input
    = f.label :name
    = f.text_field :name

  .input
    = f.label :active
    = f.check_box :active

  .input
    = f.label :teams
    %input.statebox{type: 'checkbox'}
    .collection
      = f.collection_check_boxes :team_ids, Team.all, :id, :name do |b|
        - b.label { b.check_box + b.text }

  .submit= f.submit
