= render partial: 'nav'

= form_tag [:import, :admin, :users] do |f|
  %fieldset
    %legend Import users

    %p We'll create user records for each email address. (Spam free, no email sent.)

    .form-group
      = label_tag 'emails', 'Emails'
      = text_area_tag 'emails', nil, rows: 5, class: 'form-control'

    .form-group= submit_tag 'Submit', class: 'btn btn-primary'