= form_for [:admin, @team] do |f|
  %h2
    - if f.object.persisted?
      Editing #{f.object.name} (#{f.object.slug})
    - else
      New team

  .input
    = f.label :name
    = f.text_field :name

  .input
    = f.label :private do
      Private?
      %small (hide this team from listings?)
    = f.check_box :private

  - if f.object.persisted?
    .input
      = f.label :slug
      = f.text_field :slug

  .input
    = f.label :manager, 'Manager'
    = f.select :manager_user_id, User.all.order(:email).collect { |u| [u.abbreviated_name, u.id] }, include_blank: true

  .input
    = f.label :description
    = f.text_area :description

  .input
    = f.label :users do
      Users
      %small (not counting manager)
    %input.statebox{type: 'checkbox'}
    .collection
      = f.collection_check_boxes :user_ids, User.all, :id, :abbreviated_name do |b|
        - b.label { b.check_box + b.text }

  .submit= f.submit
