!!!
%html
  %head
    %title Heartbeat
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{name: 'viewport', content: 'width=device-width, user-scalable=no'}


  %body
    .container
      %header
        .logo
          = link_to :root do
            %span.heartbeat Heartbeat
            %span.tenant for Enova
        .user
          - if current_user
            = link_to current_user.abbreviated_name, :user
            = link_to icon('sign-out').html_safe, :logout, method: :delete
          - else
            = link_to 'Login', :login

      %nav.main
        %ul
          %li= link_to 'Me', [:results, scope: :me]
          %li= link_to 'Enova', [:results, scope: :all]

          - if user_signed_in?
            - current_user.tags.each do |tag|
              %li= link_to "##{tag}", [:results, tag: tag]

          / - if current_user.try :manager?
          /   %li= link_to 'My Reports', [:results, scope: :team]

          %li= link_to '?', :about

          - if current_user.try :admin?
            %li= link_to 'Admin', [:admin, :root]

      - if flash.any?
        .flashes
          - flash.each do |key, message|
            %div{class: "flash flash-#{key}"}
              %p= message
              .close= icon 'times'

      .content= yield

      %footer
        %p
          %span= link_to 'Heartbeat on Github', 'https://github.com/isaacbowen/heartbeat', target: :_blank
          %span #{icon 'heart'} Isaac
