!!!
%html
  %head
    %title Heartbeat
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = javascript_include_tag '//www.google.com/jsapi', 'chartkick'
    = csrf_meta_tags

    %meta{name: 'viewport', content: 'width=device-width, user-scalable=no'}


  %body
    .container
      %header
        %div.logo Heartbeat
        - if current_user
          %div.user for #{current_user.name}
      .content= yield
